* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono Nerd";
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
}

#about, #projects, #contact {
  margin: 20px 0;
}
#photo {
  width: 500px;
  /* margin: 20px 0; */
}

#about, #projects, #contact {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}